.statInfo {
    font-size: 17px;
    display: inline-block;
}

.h4 {
    font-size: 2em;
}

.MuiTab-textColorPrimary-13 {
    color: whitesmoke;
}

.statRow {
    padding-top: 1px;
    padding-bottom: 1px; 
}

.dropdown {
    width:100%;
    display: inline-block;
    padding-bottom: 5px;
}

.playerCardBody {
    padding: 0;
}

.playerCardStatBody {
    padding-bottom: 10px;
    position: relative;
}

.playerCardStats {
    border-top: 2px;
    border-color: rgb(52, 25, 175);
    padding-top: 5px;
}

.modeDropdown {
    width: 100%;
    border-radius: 0;
    text-align: center;
}

.modeLi {
    width: 32%;
}

.dropdown-menu {
    width: 100%;
    padding-top: 0;
}

.seasonSelect {
    width: 49%;
}

.noStatsCard {
    position: relative;
    min-height: 197.5px;
    font-size: 30px;
    color: gray;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
}

.playerCardTitle {
  background: linear-gradient(40deg,#292929,#363636);
  border-radius: 3px;
  border: 0;
  color: white;
  height: 48px;
  padding: 0 30px;
  font-size: 2em;
  box-shadow: 0 0px 0px 2px rgba(52, 62, 201, 0.3);
  display:flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px)  {
    .panel {
    max-width: 217px;
    max-height: 270px;
}
}